.footer{
    background-color: black;
}
.row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
.col{
    padding: 20px;
    margin: 10px 30px;
}
.title{
    margin: 10px;
    padding-left: 0px;
    color: white;
  }
.icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    color: white;
    font-size: 30px;
}
@media only screen and (max-width: 688px) {
    .row{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 5px;
    }
    .col{
        padding: 0px;
        margin: 0px 0px;
    }
}